::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

.songlist:hover::-webkit-scrollbar-thumb {
    background: #777777;
}

.songlist::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

.right:hover::-webkit-scrollbar-thumb {
    background: #777777;
}

.right::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}